* {
  box-sizing: border-box;
}
body {
  background-color: grey;
}
  
.box {
  background-color: purple;
  color: #fff;
  display: flex;
  align-items: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(300px);
  opacity: 0;
  transition: transform 0.3s ease;
}

.box.show {
  transform: translateY(0);
  opacity: 0;
}
