* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: aqua;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loader{
    text-align: center;
}
.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.3s ease-out;


}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns, each taking up equal space */
  grid-gap: 40px; /* Adjusts the gap between grid items */
    padding: 30px;
  width: 80%; /* Sets the width of the grid container to 100% of its parent */
    background-image: linear-gradient(to right, #c4c4c4,#fff,#e3e3e3);
    margin: 0 10% 0 10%;
}
.grid-item {
  height: auto; /* Fixed height for each item, change as needed */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  flex-direction: column;
}
.basic-text {
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 2px #000, 0 0 5px #000;
}
.p-base {
    font-family: Baskerville, serif;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 30px;
    letter-spacing: .3rem;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.3s ease-out;
}
.p-base-animation {
    font-family: Baskerville, serif;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 30px;
    letter-spacing: .3rem;
    opacity: 1;
    transform: translateX(0);
}
.subheading {
    font-family: Baskerville, serif;
    font-size: 55px;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 30px;
    letter-spacing: .4rem;
}
